body {
    background-color: #232323;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.quadrado {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

h1, h2, #mensagem {
    text-align: center !important;
    color: white;
}

#menu {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.ativo {
    background-color: blue;
}